@page "/donates"
@using DoCert.Model
@using DoCert.Services

@inject IDataService DataService;

<style>
	.scrollable-table-container {
		overflow: auto;
		height: calc(100vh - 200px);
	}
	.contextDropdownToggleButton::after {

		content: none;
	}

</style>

<PageTitle>Dary</PageTitle>

<HxListLayout Title="Dary" TFilterModel="DonateFilter" 
              @bind-FilterModel="filterModel" 
              @bind-FilterModel:after="gridComponent.RefreshDataAsync">
	<CommandsTemplate>
		<HxButton Text="Nový dar" 
		          Color="ThemeColor.Primary" 
		          Icon="BootstrapIcon.PlusLg" OnClick="HandleNewItemClicked" />
		<HxButton Text="Import z Xls"
		          Color="ThemeColor.Primary"
		          Icon="BootstrapIcon.FiletypeXlsx" OnClick="HandleImportCsvClicked" />

		<HxDropdownButtonGroup>
			<HxDropdownToggleButton CssClass="contextDropdownToggleButton" Color="ThemeColor.Secondary" Icon="BootstrapIcon.ThreeDots">
			</HxDropdownToggleButton>
			<HxDropdownMenu>
				<HxDropdownItem Icon="BootstrapIcon.Trash"
				                OnClick="HandleDeleteSelected">Smazat označené</HxDropdownItem>
			</HxDropdownMenu>
		</HxDropdownButtonGroup>
		
	</CommandsTemplate>
	<FilterTemplate Context="filterContext">
		<HxInputText Label="Dárce" @bind-Value="filterContext.DonorName" />
		<HxInputDateRange Label="Datum" @bind-Value="filterContext.DateRange"></HxInputDateRange>
		</FilterTemplate>
	<DataTemplate>
		<HxGrid @ref="gridComponent"
		        ContentNavigationMode="GridContentNavigationMode.Pagination"
		        PageSize="1000"
		        TableContainerCssClass="scrollable-table-container"
		        HeaderRowCssClass="sticky-top"
		        FooterRowCssClass="sticky-bottom"
		        TItem="Donate"
		        DataProvider="GetGridData"
		        @bind-SelectedDataItem="currentDonate"
		        @bind-SelectedDataItem:after="HandleSelectedDataItemChanged"
		        Responsive="true"
		        MultiSelectionEnabled="true"
		        @bind-SelectedDataItems="selectedDonates"
		        PreserveSelection="false">
			<Columns>
				<HxGridColumn HeaderText="Datum" 
				              ItemTextSelector="@(donate => donate.Date.ToString("d"))" 
				              ItemCssClass="text-end" 
				              HeaderCssClass="text-end"
				              SortKeySelector="d => d.Date" 
				              IsDefaultSortColumn="true"/>
				<HxGridColumn HeaderText="Dárce" 
				              ItemTextSelector="@(donate => donate.Donor?.Name)"
				              SortKeySelector="d => d.Donor.Name"/>
				<HxGridColumn HeaderText="Částka" 
				              ItemTextSelector="@(donate => donate.Amount.ToString("c0"))" 
				              ItemCssClass="text-end" 
				              HeaderCssClass="text-end"
				              SortKeySelector="d => d.Amount"/>
				<HxGridColumn HeaderText="Účet" 
				              ItemTextSelector="@(donate => donate.Iban)"
				              SortKeySelector="d => d.Iban"/>
				<HxGridColumn HeaderText="VS" 
				              ItemTextSelector="@(donate => donate.VariableSymbol)"
				              SortKeySelector="d => d.VariableSymbol"/>
				<HxGridColumn HeaderText="Zpráva"
				              ItemTextSelector="@(donate => donate.Message)"
				              SortKeySelector="d => d.Message">
					<FooterTemplate>
						<span class="text-muted">celkem záznamů: @gridComponent.OverscanCount</span>
					</FooterTemplate>
				</HxGridColumn>
				<HxContextMenuGridColumn Context="currentDonate">
					<HxContextMenu>
						<HxContextMenuItem Text="Delete" 
						                   Icon="BootstrapIcon.Trash" 
						                   OnClick="async () => await HandleDeleteClick(currentDonate)" 
						                   ConfirmationQuestion="@($"Opravdu chcete smazat označený dar? ({currentDonate.Id})")" />
					</HxContextMenu>
				</HxContextMenuGridColumn>
			</Columns>
		</HxGrid>
	</DataTemplate>
	<DetailTemplate>
		dataItemEditComponent: {currentDonate.Id: @currentDonate?.Id}
	</DetailTemplate>
</HxListLayout>

<HxOffcanvas @ref="importCsvOffCanvasComponent" Title="Import Xls" Backdrop="OffcanvasBackdrop.Static">
	<BodyTemplate>
		<h5>Specifikace Xls souboru:</h5>
		První řádek obsahuje názvy sloupců

		<h6>Sloupce</h6>
		<ul>
			<li>Jméno plátce</li>
			<li>Datum platby</li>
			<li>IBAN</li>
			<li>Variabilní symbol</li>
			<li>Částka CZK</li>
			<li>Poznámka</li>
		</ul>
	</BodyTemplate>
	<FooterTemplate>
	<HxButton Text="Importovat" 
	          Color="ThemeColor.Primary" 
	          Icon="BootstrapIcon.FiletypeXlsx" 
	          OnClick="HandleImportCsv" />
	</FooterTemplate>
</HxOffcanvas>