@rendermode InteractiveServer
@page "/donates"
@using DoCert.Model
@using DoCert.Services

@inject IDataService DataService;

<style>
	.scrollable-table-container {
		overflow: auto;
		height: calc(100vh - 140px);
	}
</style>

<PageTitle>Dary</PageTitle>

<HxListLayout Title="Dary" TFilterModel="DonateFilter" 
              @bind-FilterModel="filterModel" 
              @bind-FilterModel:after="gridComponent.RefreshDataAsync">
	<CommandsTemplate>
		<HxButton Text="Nový dar" 
		          Color="ThemeColor.Primary" 
		          Icon="BootstrapIcon.PlusLg" OnClick="HandleNewItemClicked" />
		<HxButton Text="Import z CSV"
		          Color="ThemeColor.Primary"
		          Icon="BootstrapIcon.FiletypeCsv" OnClick="HandleImportCsvClicked" />
	</CommandsTemplate>
	<FilterTemplate Context="filterContext">
		<HxInputText Label="Dárce" @bind-Value="filterContext.DonorName" />
		<HxInputDateRange Label="Datum" @bind-Value="filterContext.DateRange"></HxInputDateRange>
		</FilterTemplate>
	<DataTemplate>
		<HxGrid @ref="gridComponent"
				ContentNavigationMode="GridContentNavigationMode.InfiniteScroll"
		        TableContainerCssClass="scrollable-table-container"
		        HeaderRowCssClass="sticky-top"
		        FooterRowCssClass="sticky-bottom"
		        TItem="Donate"
		        DataProvider="GetGridData"
		        @bind-SelectedDataItem="currentDonate"
		        @bind-SelectedDataItem:after="HandleSelectedDataItemChanged"
		        Responsive="true">
			<Columns>
				<HxGridColumn HeaderText="Datum" 
				              ItemTextSelector="@(donate => donate.Date.ToString("d"))" 
				              ItemCssClass="text-end" 
				              HeaderCssClass="text-end"
				              SortKeySelector="d => d.Date" 
				              IsDefaultSortColumn="true"/>
				<HxGridColumn HeaderText="Dárce" 
				              ItemTextSelector="@(donate => donate.Donor?.Name)"
				              SortKeySelector="d => d.Donor.Name"/>
				<HxGridColumn HeaderText="Částka" 
				              ItemTextSelector="@(donate => donate.Amount.ToString("c0"))" 
				              ItemCssClass="text-end" 
				              HeaderCssClass="text-end"
				              SortKeySelector="d => d.Amount"/>
				<HxGridColumn HeaderText="Účet" 
				              ItemTextSelector="@(donate => donate.BankAccount?.AccountNumber)"
				              SortKeySelector="d => d.BankAccount.AccountNumber"/>
				<HxGridColumn HeaderText="VS" 
				              ItemTextSelector="@(donate => donate.VariableSymbol)"
				              SortKeySelector="d => d.VariableSymbol"/>
				<HxGridColumn HeaderText="SS" 
				              ItemTextSelector="@(donate => donate.SpecificSymbol)"
				              SortKeySelector="d => d.SpecificSymbol"/>
				<HxGridColumn HeaderText="CS" 
				              ItemTextSelector="@(donate => donate.ConstantSymbol)"
				              SortKeySelector="d => d.ConstantSymbol"/>
				<HxGridColumn HeaderText="Zpráva"
				              ItemTextSelector="@(donate => donate.Message)"
				              SortKeySelector="d => d.Message">
					<FooterTemplate>
						<span class="text-muted">celkem záznamů: @gridComponent.OverscanCount</span>
					</FooterTemplate>
				</HxGridColumn>
				<HxContextMenuGridColumn Context="currentDonate">
					<HxContextMenu>
						<HxContextMenuItem Text="Delete" 
						                   Icon="BootstrapIcon.Trash" 
						                   OnClick="async () => await HandleDeleteClick(currentDonate)" 
						                   ConfirmationQuestion="@($"Opravdu chcete smazat označený dar? ({currentDonate.Id})")" />
					</HxContextMenu>
				</HxContextMenuGridColumn>
			</Columns>
		</HxGrid>
	</DataTemplate>
	<DetailTemplate>
		dataItemEditComponent: {currentDonate.Id: @currentDonate?.Id}
	</DetailTemplate>
</HxListLayout>

<HxOffcanvas @ref="importCsvOffCanvasComponent" Title="Import CSV" Backdrop="OffcanvasBackdrop.Static">
	<BodyTemplate>

		<HxSelect TItem="ImportProfile"
		          TValue="ImportProfile"
		          Label="Profil"
		          Data="importProfiles"
		          @bind-Value="importProfile"
		          TextSelector="@(p => p.Name)"
		          Nullable="true"
		          NullText="- vyber profil -"
		          NullDataText="Loading profiles..." />
		
		@*
		<HxSelect TItem="KeyValuePair<int, string>"
		          TValue="int?"
		          Label="Datum"
		          Data="csvColumns"
		          @bind-Value="csvMapping.DateColumnIndex"
		          TextSelector="@(column => column.Value)"
		          ValueSelector="@(column => column.Key)"
		          Nullable="true"
		          NullText="- vyber sloupec -"
		          NullDataText="Loading columns..." />

		<HxSelect TItem="KeyValuePair<int, string>"
		          TValue="int?"
		          Label="Částka"
		          Data="csvColumns"
		          @bind-Value="csvMapping.AmountColumnIndex"
		          TextSelector="@(column => column.Value)"
		          ValueSelector="@(column => column.Key)"
		          Nullable="true"
		          NullText="- vyber sloupec -"
		          NullDataText="Loading columns..." />

		<HxSelect TItem="KeyValuePair<int, string>"
		          TValue="int?"
		          Label="Dárce"
		          Data="csvColumns"
		          @bind-Value="csvMapping.DonorNameColumnIndex"
		          TextSelector="@(column => column.Value)"
		          ValueSelector="@(column => column.Key)"
		          Nullable="true"
		          NullText="- vyber sloupec -"
		          NullDataText="Loading columns..." />

		<HxSelect TItem="KeyValuePair<int, string>"
		          TValue="int?"
		          Label="Číslo účtu"
		          Data="csvColumns"
		          @bind-Value="csvMapping.AccountNumberColumnIndex"
		          TextSelector="@(column => column.Value)"
		          ValueSelector="@(column => column.Key)"
		          Nullable="true"
		          NullText="- vyber sloupec -"
		          NullDataText="Loading columns..." />

		<HxSelect TItem="KeyValuePair<int, string>"
		          TValue="int?"
		          Label="VS"
		          Data="csvColumns"
		          @bind-Value="csvMapping.VariableSymbolColumnIndex"
		          TextSelector="@(column => column.Value)"
		          ValueSelector="@(column => column.Key)"
		          Nullable="true"
		          NullText="- vyber sloupec -"
		          NullDataText="Loading columns..." />
		          *@
	</BodyTemplate>
	<FooterTemplate>
	<HxButton Text="Importovat" 
	          Color="ThemeColor.Primary" 
	          Icon="BootstrapIcon.FiletypeCsv" 
	          OnClick="HandleImportCsv" />
	</FooterTemplate>
</HxOffcanvas>